<div class="row">

  {% if providers | length > 0 %}
  {% for provider in providers %}
  <div class="col-3 text-center il-col">
      <div class="il-col-container" >
            <div class="il-col-area" style="">
                {% set image = provider.image %}
                <div data-provider-id="{{ provider.id }}" class="il-col-image image-selectable" style="background:url({{ image|thumbnail('preview') }}) no-repeat;  {{ image.width > image.height ? 'background-size: auto 100%;background-position: center;' : 'background-size: 100% auto;'  }}"></div>
            </div>
      </div>
  </div>
  {% endfor %}
  {% else %}
      <div style="width:100%; text-align:center;">Нет изображений. <a target="_blank" href="{{ path("admin_images") }}">Загрузить</a> </div>
  {% endif %}
  </div>
